/*All child elements of a parent element that has a display of flex or inline-flex are flex
  items. The parent element is the flex container. */
.container {
  display: flex;
  display: inline-flex;
  width: 200px; /*Without a designated width/height. the flex items of an inline-flex
                  container will expand to fit the entire line.*/

  /*'justify-content' is used to position child elements along the main axis. */
  justify-content: center; /*Centers content, no spacing.*/
  justify-content: flex-end; /*(or flex-start) Aligns content to the start/end, no space. */
  justify-content: space-around; /*(or space-between) Spaces content. */

  /*'align-items' is used to position child elements vertically in the cross axis. */
  align-items: center; align-items: flex-end; align-items: flex-start;
  align-items: baseline; /*The baseline of child elements are aligned. */
  align-items: stretch; /*Elements without a specified height will stretch to fit.*/

  /*'flex-wrap' is used to let content move to different lines instead of shrinking to the flex container. */
  flex-wrap: nowrap; /*Default value, flex items shrink. */
  flex-wrap: wrap; /*Items near the end move to the bottom line. */
  flex-wrap: wrap-reverse; /*Items NOT near the end move to the bottom line. */

  /*If a flex container has multiple rows, 'align-content' should be used instead of 'align-items'. It
    has the same properties of 'justify-content' with an extra property of stretsch. */
  align-content: stretch; /*If no height is specified, elements will strech to fill the parent container from top to bottom. */

  /*The direction of content flow can be changed with the 'flex-direction' property. */
  flex-direction: row; /*Default value. Content flows from left to right. */
  flex-direction: row-reverse; /*Content flows from right to left. */
  flex-direction: column; /*Content flows from top to bottom. */
  flex-direction: column-reverse; /*Content flows from bottom to top. */

  /*'flex-flow' declares both 'flex-direction' and 'flex-wrap' respectively in the same property. */
  flex-flow: column wrap;
}

/*If the .container parent has a display property of flex, the individual child elements will
  continue on the same line and shrink to fit the flex container. */

.container .child1 {
  flex-grow: 2; /*If the parent container grew by 60px, .item1 would grow by 40px. */

  flex-shrink: 2 /*Same case applies, with .item1 shrinking faster than .item2. */

  /*Before shrinking and growing, child elements can be set to a default width. */
  flex-basis: 150px;

  /*Instead of specified all 3 individually, they can be set with the flex property.
    Format: flex-grow flex-shrink flex-basis */
  flex: 2 2 150px; /*The flex-shrink property doesn't have to be specified. */

  /*The order property indicates the position of an element. All elements have a
    default value of 0. Negative numbers are accepted as input. Order: -inf-> inf */
  order: 1; /*Appears after item2 now.*/

  /*Each element can also align itself with the align-items properties: */
  align-self: stretch;
}

.container .child2 {
  flex-grow: 1; /*If the parent container grew by 60px, .item2 would grow by 20px. */

  /*If the parent container shrunk, .item2 would shrink because flex-shrink has a default value
    of 1. */
}
